ion-content {
    --background: #232129;
}
ion-item {
    --background: rgb(62, 59, 70) !important; 
    font-family: 'Roboto Slab';
    font-weight: 500;
    font-size: 17px;
}
ion-list {
    --background: rgb(62, 59, 70) !important;
    padding: 0;
}

ion-icon {
    color: #ff9000;
}

ion-label {
    margin-left: 15px !important;
}

.header {
    background-color: rgb(40, 38, 49);
    height: 180px;
    padding-top: 1px;
    h2 {
        color: white;
        font-family: 'Roboto Slab';
        font-weight: 500;
        text-align: center;
    }

}

.border-white {
    border: 4px solid white;
    border-radius: 50%;
    width: fit-content;
}

.border-blue {
    border: 7px solid green;
    border-radius: 50%;
    width: fit-content; 
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: -76px;
}