<!-- <ion-card>
  <ion-grid>
    <ion-row>
     <ion-col>
      <img src="https://material.angular.io/assets/img/examples/shiba1.jpg">
    </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card-header>      
  <span item-left>Oie</span>
  <span item-right><ion-icon name="person-outline"></ion-icon></span>
  </ion-card-header>
  <ion-card-content>
    <h5>Bank: <b>BANK</b></h5>
    <h5>Ac name: <b>ITAU</b></h5>
    <h5>Ac name: <b>1122</b></h5>
  </ion-card-content>
</ion-card> -->


<!-- <ion-card>
  <ion-grid>
   <ion-row>
    <ion-col>
  <img src="https://material.angular.io/assets/img/examples/shiba1.jpg">
  </ion-col>
  <ion-col>
  <ion-item>
    <ion-avatar item-start> <img src="https://material.angular.io/assets/img/examples/shiba1.jpg"> </ion-avatar>
    <h2>Marty McFly</h2>
  </ion-item> 
  <ion-card-content>
    <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
  </ion-card-content>
  </ion-col>
   </ion-row>
  </ion-grid>

</ion-card> -->

<!-- <ion-content padding>
  <ion-card>
    <ion-grid>
     <ion-row>
      <ion-col>
        <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" style="border-radius: 50%; width: 80%; height: 85%">
      </ion-col>
    <ion-col>
        <ion-item>
          <p>Marty McFly</p>
        </ion-item> 
        <ion-card-content>
          <ion-item>
            <ion-icon></ion-icon>
            <p>Wait a minute. Wait a minute, Doc. Uhhh</p>
          </ion-item>
      </ion-card-content>
    </ion-col>
     </ion-row>
    </ion-grid>
  
  </ion-card>

</ion-content>
 -->
 <ion-toolbar style="--min-height: 98px !important; --background: rgb(40, 38, 49) !important">
  <ion-item style="--background: rgb(40, 38, 49) !important">
    <ion-avatar slot="end">
      <img src="https://material.angular.io/assets/img/examples/shiba1.jpg">
    </ion-avatar>
  </ion-item>
</ion-toolbar>

 <ion-content>
  <h2 class="estab">Reservar</h2>

  <ion-list>
    <ion-item align-center style="width: 87vw; margin: 10px auto !important; ">
      <ion-avatar slot="start">
        <img src="https://material.angular.io/assets/img/examples/shiba1.jpg">
      </ion-avatar>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <!-- name -->
              Academia de Pilates
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <!-- icon -->
              <ion-icon name="calendar-outline" style="color: #ff9000;"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <!-- calender -->
              Segunda a sexta
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <!-- icon -->
              <ion-icon name="time-outline" style="color: #ff9000;"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <!-- time -->
              08h - 18h
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>

    <ion-item align-center style="width: 87vw; margin: 10px auto !important; ">
      <ion-avatar slot="start">
        <img src="https://material.angular.io/assets/img/examples/shiba1.jpg">
      </ion-avatar>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <!-- name -->
              Academia de Pilates II
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <!-- icon -->
              <ion-icon name="calendar-outline" style="color: #ff9000;"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <!-- calender -->
              Segunda a sexta
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <!-- icon -->
              <ion-icon name="time-outline" style="color: #ff9000;"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <!-- time -->
              08h - 18h
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <ion-item align-center style="width: 87vw; margin: 10px auto !important; ">
      <ion-avatar slot="start">
        <img src="https://material.angular.io/assets/img/examples/shiba1.jpg">
      </ion-avatar>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <!-- name -->
              Quadra de Tênis
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <!-- icon -->
              <ion-icon name="calendar-outline" style="color: #ff9000;"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <!-- calender -->
              Segunda a sexta
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <!-- icon -->
              <ion-icon name="time-outline" style="color: #ff9000;"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <!-- time -->
              08h - 18h
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <ion-item align-center style="width: 87vw; margin: 10px auto !important; ">
      <ion-avatar slot="start">
        <img src="https://material.angular.io/assets/img/examples/shiba1.jpg">
      </ion-avatar>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <!-- name -->
              Quadra de Tênis II
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <!-- icon -->
              <ion-icon name="calendar-outline" style="color: #ff9000;"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <!-- calender -->
              Segunda a sexta
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <!-- icon -->
              <ion-icon name="time-outline" style="color: #ff9000;"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <!-- time -->
              08h - 18h
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <ion-item align-center style="width: 87vw; margin: 10px auto !important; ">
      <ion-avatar slot="start">
        <img src="https://material.angular.io/assets/img/examples/shiba1.jpg">
      </ion-avatar>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <!-- name -->
              Salão de Festas
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <!-- icon -->
              <ion-icon name="calendar-outline" style="color: #ff9000;"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <!-- calender -->
              Segunda a sexta
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <!-- icon -->
              <ion-icon name="time-outline" style="color: #ff9000;"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <!-- time -->
              08h - 18h
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>