ion-content {
    --background: #232129 !important;;
}

ion-item {
    --background: rgb(62, 59, 70) !important; 
    padding: 0px !important;
    margin: 10px !important;
    border-radius: 7px !important;
}

.list-md {
    background: none !important;
}

.list-ios {
    background: none !important;
}

h2 {
    margin-left: 23px !important; 
    font-weight: 500;
    font-family: 'Roboto Slab';
}