<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="header">
      <div class="title">
        <img src="https://image.flaticon.com/icons/png/512/149/149071.png">
      </div>
      <h3>Olá, Ezequias</h3>
      <p>Cadastre o visitante</p>
    </div>
    <div class="body">
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-input placeholder="Nome" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="mail-outline"></ion-icon>
          <ion-input placeholder="Email" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
          <ion-input placeholder="CPF" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="call-outline"></ion-icon>
          <ion-input placeholder="Telefone" type="text"></ion-input>
        </ion-item>
        <ion-button (click)="process()" class="no-ripple" expand="block" style="--background: #ff9000; color: #312e38; width: 100%;">
          Convidar
        </ion-button>
        <img *ngIf="displayQrCode()" [src]="generated" />

      </ion-list>
    </div>
  </div>

</ion-content>
