<ion-header>
  <ion-toolbar style="--background: rgb(104, 109, 224);">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline" style="color: white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="body">
      <ion-list>
        <ion-item class="select">
          <ion-label style="color: black;">
            Visitante
          </ion-label>
          <ion-checkbox item-left style="--background: rgb(104, 109, 224)"></ion-checkbox>
          <ion-label style="color: black">
            Prestador
          </ion-label>
          <ion-checkbox slot="start" style="--background: rgb(104, 109, 224)"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="person-outline" style="color: black"></ion-icon>
          <ion-input placeholder="Nome" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="hammer-outline" style="color: black"></ion-icon>
          <ion-input placeholder="Empresa" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="mail-outline" style="color: black"></ion-icon>
          <ion-input placeholder="Email" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="document-text-outline" style="color: black"></ion-icon>
          <ion-input placeholder="CPF" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="call-outline" style="color: black"></ion-icon>
          <ion-input placeholder="Telefone" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea rows="5" cols="20" placeholder="Informe uma descrição" type="text" style="color: black"></ion-textarea>
        </ion-item>
        <ion-button class="no-ripple" expand="block" style="--background: rgb(104, 109, 224); color: white; --border-radius: 40px">
          <ion-icon slot="start" name="paper-plane-outline"></ion-icon>
          Convidar
        </ion-button>
      </ion-list>
    </div>
  </div>

</ion-content>
