ion-content {
    --offset-top: 0px;
    --offset-bottom: 0px;
    --background: #FFF;
    --color: #FFF;

    .select {
        --background: none !important;
    }

    ion-checkbox {
        --background-checked: rgb(104, 109, 224) !important;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 20px 0;
        .body {
            ion-list {
                --background: none;
                background: none;
                margin-bottom: 0!important;
                ion-button {
                    --ion-font-family: 'Roboto Slab' serif;
                    font-weight: 500 !important;
                    --background-activated: rgb(104, 109, 224) !important;
                }
                ion-item {
                    --border-color: transparent !important;
                    --highlight-height: 0;
                    --background: #f5f6f9;
                    border-radius: 4px;
                    margin-bottom: 10px;
                    ion-icon {
                        color: #FAFAFA;
                    }
                    ion-input {
                        --color: black;
                    }

                }
            }
        }
    }
}