ion-header {
    --background: #232129 !important;
}

ion-toolbar {
    --background: #232129 !important;
}

ion-content {
    --background: white;
}

ion-card {
    --background: white; 
}

ion-row {
    margin-top: 65%;
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: rgb(104, 109, 224);
    height: 180px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding-top: 6%;
    h2 {
        color: white;
        font-family: 'Roboto Slab';
        font-weight: 500;
        text-align: center;
    }

}

.border-white {
    border: 4px solid white;
    border-radius: 50%;
    width: fit-content;
}

.border-blue {
    border: 7px solid rgb(104, 109, 224);
    border-radius: 50%;
    width: fit-content; 
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: -76px;
    position: fixed;
    top: 21%;
    left: 30%;
    z-index: 3;
}